<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Emuspar Suite - Smoke Test" verbose="5">
    <test name="emuspar">

        <groups>
            <run>
                <include name="SmokeTest"/>
                <exclude name="broken"/>
                <exclude name="Exclude"/>
                <exclude name="IEissue"/>
            </run>
        </groups>
        <classes>
            <class name="testCases.homeTest.HomePage_Test"/>
        </classes>
    </test>
</suite>